* {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family:'Lucida Sans', sans-serif
}

a {
    text-decoration: none;
}

.input {
    border-radius: 5px 5px;
    font-size: 1rem;
}

.button {
    font-size: 0.9rem;
    border-radius: 10px 10px;
    padding: 10px;
}

.button:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.flex {
    display: flex;
}

.wide {
    padding: 20%;
}

.narrow {
    padding: 5%;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: space-between;
}

.header {
    padding: 1rem;
    background-color: silver;
    border-bottom: 1px solid black;
}

.red {
    background-color:  #ff3333;
}

.green {
    background-color: green;
}

.nav-element {
    color: blue;
    padding: 2px;
    margin-left: 10px;
}

.nav-element:hover {
    transform: scale(1.1, 1.1)
}

.menu {
    width: 20%;
    border-right: 1px solid black;
    max-width: 200px;
    min-width: 100px;
}

table {
    border-collapse: collapse
}

tr, td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.right {
    text-align: right;
}

#mask {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    position:fixed;
}

#new-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10vh;
    left: 30vw;
    width: 40vw;
    height: 60vh;
    min-height: 500px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 1px 1px gray;
    border: 1px solid gray;
    z-index: 2;
}

.ul {
    list-style-type: none;
    border: 2px solid grey;
    margin-left: 5px;
}

.li:hover {
    background-color:aqua;
}

.readonly {
    background-color:#DDDDDD
}
